
<!-- containner for form and heading -->
<div class="container_div">

  <!-- tags for the header  -->
  <div class="header_div">
    <h3 class="h3">OJET</h3>
    <h4 class="h4">
      Welcome to sector 15
    </h4>
    <p class="header_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      we are in an internship gather yourself
    Lorem ipsum dolor sit amet</p>
  </div>
            
            
            
  <!-- tags for the form goes here -->
  <section class="div_form">
    <p class="sign_up">Sign Up</p>
        <p class="details">Enter details below to get started</p>
    <form name="Signup_form" onsubmit="return(validate());" action="index.html" method="post" id="register">
                                  
    <p>
      <label for="name" class="hng_label" class="hng_label">hng</label >
      <input type="text" name="team" id="team" placeholder="ojetteam" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+" class="first_input" required  >
          &nbsp;
      <input type="email" name="email" id="email"  placeholder="Email" required>
    </p>
                
    <p>
        <input type="text" name="name" id="name" placeholder="First name / Last name" class="name_input" required>
    </p>
                         
    <!-- implementing the select -->
    <select  class="style_select" aria-placeholder="city">
      <option >City</option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
    </select>
  
    <select class="style_select" >
        <option class="first_option">State</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>

    <select  class="style_select">
        <option>Stack</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="php">PHP</option>
        <option value="javascript">Javascript</option>
    </select>
                
    <p class="password_p">
        <input type="password" name="pwd" placeholder="password" required class="pwd">
    
        <input type="password" name="pwd" placeholder="confirm" required class="pwd">
    </p>
    
    <input type="submit" value="CREATE ACCOUNT" class="submit">

    <!-- tags for the form ends here -->
  </section>

</div>
     
<!-- tags for have an account? -->
  <a href="/?root=signin">
    <div  class="have_acct">
      <p>Have an account?</p>
    </div>
  </a>
  
























  </body>

</html>