
    <section class="loginBox">

        <div class="form-text">
            <h1>OJET</h1>
            <h3>Welcome to Sector 15</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
        </div>

        <div class="form-details">
        <div class="form-header">
            <h2>Sign in to Sector 15.</h2>
            <h4>Enter details below to get started</h4>
        </div>

        <div>
            <form class="form">
                <div class="form-group">
                    <label for="username" class="user">Username or email</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label for="password" class="user">Password</label>
                    <input type="password">
                </div>

                    <h5><a href="#">Forgot Password?</a></h5>

                <div class="form-group">
                    <button class="login-btn">Sign in</button>

                    <h5 class="form-base">You don't have an account yet? <a href="?root=signup">Sign up here</a></h5>

                </div>

                </div>

            </form>
        </div>
    </section>
    
