<!DOCTYPE html>
<html lang="en">
<head>
    <title>HNG | Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

    <!-- This is the main css file for the default Alta theme -->
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v7.1.0/alta/oj-alta-min.css" type="text/css"/>
    <!-- endinjector -->
    
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    
</head>
<body>
    <section class="loginBox">

        <div class="form-text">
            <h1>OJET</h1>
            <h3>Welcome to Sector 15</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
        </div>

        <div class="form-details">
        <div class="form-header">
            <h2>Sign in to Sector 15</h2>
            <h4>Enter details below to get started</h4>
        </div>

        <div>
            <form class="form">
                <div class="form-group">
                    <label for="username" class="user">Username or email</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label for="password" class="user">Password</label>
                    <input type="password">
                </div>

                    <h5><a href="#">Forgot Password?</a></h5>

                <div class="form-group">
                    <button class="login-btn">Sign in</button>

                    <h5 class="form-base">You don't have an account yet? <a href="#">Sign up here</a></h5>

                </div>

                </div>

            </form>
        </div>
    </section>
    
</body>
</html>