#globalBody{

    /* IMAGE HOSTED ON CLOUDINARY */
    background-image:url( https://res.cloudinary.com/edemoski/image/upload/v1568707436/oxrfzujh2ywiytrdweph.jpg;
    );

    
}



/* styles the div containning both form and headind divs */

.container_div{
    width: 100%;
    position: relative;
    /* background-image:url( https://res.cloudinary.com/edemoski/image/upload/v1568707436/oxrfzujh2ywiytrdweph.jpg;
    ); */
 background-size:auto;
 background-repeat: no-repeat;
 margin-left: 100px; 
    height: 600px;
}









/* styles the OJET with paragraph div */

.header_div{
   
    float: left;
    position: relative;
    color: aqua;
    width: 300px;
    height: 100px;
    margin-top: 500px;
  margin-left: 40px;
}
.h3{
    color: antiquewhite;
    font-weight: bold;
    font-family: "Arial Black", "Times New Roman", sans-serif;	
    padding-left:5px; 

}
.h4{
    color: antiquewhite;
    padding-left:5px; 
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: bold;
}
.header_div>p{
    color: white;
    padding-left:5px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-wrap: suppress 2px;
    margin-top: 2px;
    font-size: 13px;
    
}



/* styles the form div */

 .div_form{
    background-color:white;
    width: 350px;
    height: 350px;
    margin-top: 350px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    right: 30px;
    box-shadow: 10px 0px 6px blueviolet;
    border-radius: 5px;
    /* padding: 20px; */
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 150px;
}

/* styles the hng label */
.hng_label{
    color: blueviolet
}

/* styles the sign up  and detail paragrapghs */
.sign_up{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size: 16px;
 
}
.details{

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 25px;
}

/* styling for the sign up and detail paragraphs stops here  */


/* styles the place holder in the form */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    opacity: 0.1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 0.1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
    opacity: 0.1;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.1;
  }


/* styles the create an account input */
.submit{
    color: white;
    background-color:  #754a88;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    position:inherit;
    margin-left: 30%;
    /* right: 50%; */
    border-radius: 5px;
    margin-top:28px;
    
}

/* styles the input in the form */
input{
    border: none;
  border-bottom: 1px solid #000;
}
.first_input{
    border: none;
  border-bottom: 1px solid  violet;
  float: left;
}
/* styles the hng label in the form */
.hng_label{
    float: left;
}

/* styles the select options in the form  */
.style_select{
  
       background: none;
        border: none;
        border-bottom: 1px solid  black;
        font-size: 15px;
        height: 17px;
        /* padding: 5px;  */
        width: 110px;
        /* margin-left: 10px; */
        margin-top: 28px;
        /* color: #c7cbc8 */
       
     }

/* 
     .first_option{
        color: black;
        opacity: 0.1;
        
     } */

     /* styles the password input in the form */
     .pwd{
         margin-top: 28px;
         width: 170px;
     }

     /* styles the name field for width and space from top */
     .name_input{
         width: 340px;
         margin-top: 28px;
     }

 /* styles the have account? div */
     .have_acct{
         
         float:left;
         clear: both;
        position: relative;
        left: 60%;
     }

     .have_acct>p{
         color: white;
        
         
     }
     /* style for have account stops here  */